
    body{
        background-image: url(./Assets/index-background.jpg);
        background-repeat: no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        /* overflow: hidden; */
        /* background-image: linear-gradient(to bottom right, silver, gray, black); */
    }
  
    .rain:before{
        content: '';
        position: absolute;
        height: 100%;
        background: #fff;
        animation: lighting .3s linear infinite;
        opacity: 0.5;
    }
    @keyframes rain{
        0%{
            background-position: 0% 0%;
        }
        100%{
            background-position: 20% 100%;
        }
    }
    nav{
        /* opacity: 0.2; */
        color: white;
        display: inline;
        /* overflow: hidden; */
    }
    /* #menu{ */
        /* float: right; */
    /* } */
    #navdiv{
        /* opacity: 0.5; */
        font-size: large;
        color: white;
    }
    #main{
        color: white;
        position: relative;
        /* top: -15px; */
        /* font-size: large; */
        /* font-weight: bold; */
        font-family: 'Indie Flower', cursive;

    }
    /* #logo{
        position: relative;
        top: -30px;
        right: -30px;
    } */
    #text{
        font-size: 20px;
    }
    #maintext:hover{
        color:rgb(231, 12, 12);
        font-size: 25px;
        /* size: 2%; */
        /* background-color: blueviolet; */
    }
    .links{
        margin-bottom: 60px;
    }
    button:hover{
        color: red;
    }
    #cardi:hover{
        background-color: red;
        font-size: large;
        font-weight: bolder;
    }
    span:hover{
        font-weight: bolder;
        font-optical-sizing: 200px;
    }
    /* #cardis{
        top: -302px;
    }
    @media screen and (max-width: 768px) {
        #cardis {
            
          top: -28;
        }
      } */